<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>文本@人时弹框</title>
    <meta name="description" content="文本@人时弹框">
    <style>
      .jsfiddle-wrapper {
        width: 60%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="jsfiddle-wrapper">
        <iframe width="100%" height="300" src="//jsfiddle.net/justable/9vesx472/2/embedded/" allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </body>
</html>